span.prev-box-photo {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 110px;
    width: 110px;
    margin: 0 5px 5px 0;
}
.prev_add_photo.new-photo{
    opacity: 0.8;
}
.trash {
    position: absolute;
    right: 10px;
    bottom: -40px;
    width: 40px;
    height: 39px;
    cursor: pointer;
    background-image: url(../images/trash-man.png);
    background-color: rgba(255, 255, 255, 0.72);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.prev-box-photo:hover .trash{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    bottom: 0;
}

/* SORTABLE */
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
/* END */
div#new_photo_block {
    margin-top: 25px;
    border-top: 1px solid grey;
    padding: 10px 0 0;
    overflow: hidden;
    position: relative;
}
div#new_photo_block:before {
    content: 'New photo';
    position: absolute;
}
.prev_add_photo {
    height: 110px;
}
#dropZone {
    color: #555;
    font-size: 18px;
    text-align: center;

    width: 400px;
    padding: 50px 0;
    margin: 50px auto;

    background: #eee;
    border: 1px solid #ccc;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}

#dropZone.error {
    background: #faa;
    border-color: #f00;
}

#dropZone.drop {
    background: #afa;
    border-color: #0f0;
}

#img_target {
    background: gray none repeat scroll 0 0;
    height: 79px;
    width: 100%;
}
@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}
@charset "UTF-8";
/*
 * jQuery File Upload UI Plugin CSS
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}
.progress-animated .progress-bar,
.progress-animated .bar {
    background: url("../img/progressbar.gif") !important;
    filter: none;
}
.fileupload-process {
    float: right;
    display: none;
}
.fileupload-processing .fileupload-process,
.files .processing .preview {
    display: block;
    width: 32px;
    height: 32px;
    background: url("../images/loading.gif") center no-repeat;
    background-size: contain;
}
.files audio,
.files video {
    max-width: 300px;
}

@media (max-width: 767px) {
    .fileupload-buttonbar .toggle,
    .files .toggle,
    .files .btn span {
        display: none;
    }
    .files .name {
        width: 80px;
        word-wrap: break-word;
    }
    .files audio,
    .files video {
        max-width: 80px;
    }
    .files img,
    .files canvas {
        max-width: 100%;
    }
}